<section class="w-full mx-auto lg:w-[740px] py-44 text-center">
<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 All Rights Reserved.
    </span>
    <ul class="mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
From San Blas to the World
        </li>
    </ul>
</footer>
</section>