---
import Badge from "../components/Badge.astro";
---

<section class="w-full mx-auto lg:w-[740px] py-44 flex flex-col items-center">
  <img
    src="/photo.jpg"
    alt="Portfolio Photo"
    class="rounded size-24 mb-4"
    />
    <h1 id="about" class="text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hi!! I'm Sergio
        <a
          href="https://www.linkedin.com/in/sergio-jimenez-72235a2a8/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Open to work</Badge></a
        >
  </h1>
  <h2 class="text-xl opacity-80">
    More than 40 years of experience in life. Open minded developer based in
    Madrid, Spain ;)
  </h2>
</section>
