---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Footer from '../components/Footer.astro';
import Technologies from '../components/Technologies.astro';
---

<Layout title="Welcome to my Web. Enjoy it!">
	<main>
		<Header />
		<Main />
		<SocialLinks />
		<Technologies />
		<Footer />
	</main>
</Layout>